@import url("https://fonts.googleapis.com/css2?family=Montserrat:400,600");

body{
    width : 100%;
    min-width: 1250px;
    height: 100%;
    min-height: 800px;
    margin: 0;
    font-family:'Montserrat', sans-serif;
}

p{
    font-size: 0.8em;
    line-height: 1.5em;
}

h3{
    margin: 0;
    padding-top: 50px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigator{
    background-color: #F0F0F0;
    display: flex;
    vertical-align: baseline;
} 
.navigator h4{
    color: #848484;
    margin: 0;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 5px;
    margin-right: 66%;
}
.navigator a{
    color: #848484;
    text-decoration: none;
    font-size: 0.8em;
}

.navigator a:hover{
    transform: translate(0, -5px);
}

#nav{
    float: right;
    padding-top: 15px;
}

#nav li{
    display: inline;
    padding: 20px;
    text-align: center;
}

.content img{
    width: 100%;
    height: auto;
}